*{
  font-family: "Courier New", Courier, monospace;
}

body{
  height: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}

#toolBar {
  background-color: #d9d9d9;
  border-radius: 0px 0px 15px 15px;
  position: absolute;
  width: 100%;
}

#logo {
  float: left;
  padding: 5px 0px 0px 5px;
}

#copyright {
    font-size: small;
}

#colorSelector div {
	position: relative;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../Assets/Images/select.png) center;
}